---
import ContactInfoBox from '@components/ContactInfoBox.astro'
import AboutLogo from '@components/images/AboutLogo.astro'
import CenteredLayout from '@layouts/CenteredLayout.astro'
---

<CenteredLayout title="About">
  <div class="bg-green-800">
    <div
      class="center flex flex-col min-h-screen justify-center items-center text-neutral-200"
    >
      <header class="max-w-xl pb-8">
        <AboutLogo />
        <h1
          class="center font-sans font-semibold tracking-wide text-sm sm:text-lg p-2 w-fit"
          >ABOUT US</h1
        >
      </header>
      <div class="max-w-xl p-4">
        <section class="pb-4">
          <h2
            class="font-semibold tracking-wide text-2xl sm:text-4xl pb-4 text-center sm:text-left"
            >da WHO?</h2
          >
          <p class="tracking-wide p-2 sm:p-4 text-lg sm:text-2xl leading-normal"
            >We're a small posse of musicians, engineers, artists, designers,
            and programmers sharing the same mission: <span
              class="text-amber-400"
              ><strong class="tracking-wider"
                >we challenge audio plugin industry norms by encouraging
                creators to confront their sounds in novel visual contexts.
              </strong>
            </span></p
          >
        </section>
        <section class="pb-4">
          <h2
            class="font-semibold tracking-wide text-2xl sm:text-4xl pb-4 text-center sm:text-left"
            >da WHAT?</h2
          >
          <div class="p-2 sm:p-4">
            <p class="tracking-wide text-lg sm:text-2xl leading-normal">
              In-the-box production, mixing, and mastering has no need be a
              bunch of literal knobs, sliders, and graphs inside a graphical
              box. Sound exists outside the confines of the studio too, so
              <span class="text-amber-400"
                ><strong class="tracking-wider"
                  >why should we box ourselves in reinventing and implementing
                  analog gear?
                </strong>
              </span>
            </p>
            <br />
          </div>
          <section class="pb-4">
            <h2
              class="font-semibold tracking-wide text-2xl sm:text-4xl pb-4 text-center sm:text-left"
              >da BOTTOM LINE!</h2
            >
            <div class="p-2 sm:p-4">
              <p class="tracking-wide text-lg sm:text-2xl leading-normal">
                Think outside the box while working in it. <em
                  class="not-italic"
                  >When you make music, you don't need to use just your ears. We
                  hope our plugins can let you use your eyes just as well</em
                >.
              </p>
              <br />
            </div>
            <footer>
              <nav
                id="footer-nav"
                aria-label="Main"
                class="flex flex-col items-center"
              >
                <ul class="text-center">
                  <li class="p-1">
                    <a
                      class="p-1 font-semibold tracking-wide w-fit hover:underline"
                      href="/about/privacy-policy">SEE PRIVACY POLICY</a
                    >
                  </li>
                  <li class="p-1">
                    <a
                      class="p-1 font-semibold tracking-wide w-fit hover:underline"
                      href="/">RETURN HOME</a
                    >
                  </li>
                </ul>
              </nav>
            </footer>
          </section>
        </section>
      </div>
      <footer class="py-4 text-neutral-700">
        <ContactInfoBox />
      </footer>
    </div>
  </div>
</CenteredLayout>
