---
import CenteredLayout from '@layouts/CenteredLayout.astro'
---

<CenteredLayout title="Sign In">
  <h1>Sign In</h1>
  <a href="/login/github" class="underline text-blue-500">Sign in with GitHub</a
  >
</CenteredLayout>
