@import 'tailwindcss';

@theme {
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Newsreader', serif;
  --font-block: 'Prompt', sans-serif;
}

p {
  max-width: 66ch;
  /* font-family: "Rubik", sans-serif; */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* * {
  outline: red 0.5px solid;
} */

.debug * {
  outline: red 0.5px solid;
}
