---
import InfoCallout from '@components/callouts/InfoCallout.astro'
import ContactInfoBox from '@components/ContactInfoBox.astro'
import HeroLogo from '@components/images/HeroLogo.astro'
import CenteredLayout from '@layouts/CenteredLayout.astro'
---

<CenteredLayout>
  <div class="bg-amber-500">
    <div class="center flex flex-col min-h-screen justify-center items-center">
      <header>
        <HeroLogo />
        <h1
          class="center font-sans font-bold text-sm sm:text-lg p-2 text-neutral-700 w-fit"
          >BROKE DA EAR! AUDIO PLUGINS</h1
        >
        <nav id="main-nav" aria-label="Main" class="p-4">
          <ul class="flex flex-col items-center">
            <li
              class="p-1 font-bold text-neutral-500 w-fit opacity-50 select-none"
              >PLUGINS</li
            >
            <li
              class="p-1 font-bold text-neutral-500 w-fit opacity-50 select-none"
              >BLOG</li
            >
            <li class="p-1 font-bold text-neutral-700 w-fit"
              ><a href="/about" class="hover:underline">ABOUT</a></li
            >
            <li
              class="p-1 font-bold text-neutral-500 w-fit opacity-50 select-none"
              >CART</li
            >
            <li
              class="p-1 font-bold text-neutral-500 w-fit opacity-50 select-none"
              >ACCOUNT</li
            >
            <li class="p-1 font-bold text-neutral-700 w-fit select-none"
              ><a href="/login" class="hover:underline">LOGIN</a></li
            >
            <li class="p-1 font-bold text-neutral-700 w-fit select-none"
              ><a href="/register" class="hover:underline">REGISTER</a></li
            >
          </ul>
        </nav>
      </header>
      <InfoCallout>we are under construction</InfoCallout>
      <footer>
        <ContactInfoBox />
      </footer>
    </div>
  </div>
</CenteredLayout>
