---

---

<div
  style="height: 8; border-radius: 100%;"
  class="center flex flex-col bg-red-200 p-4 justify-center max-w-xs sm:max-w-sm"
>
  <section class="center text-center">
    <address class="p-2 font-semibold tracking-wider text-xs font-serif"
      >Contact us at <a
        href="mailto:howzit@brokedaear.com"
        class="hover:underline">howzit@brokedaear.com</a
      ></address
    >
  </section>
</div>
