---
import Navbar from './Navbar.astro'
import SiteTitle from './SiteTitle.astro'
---

<header>
  <div class="flex flex-col lg:flex-row items-baseline space-x-3">
    <SiteTitle />
    <Navbar />
  </div>
</header>
