---
import HawaiiFlag from './images/HawaiiFlag.astro'
---

<div class="relative text-center p-2">
  <div class="w-25 pb-4 mx-auto">
    <HawaiiFlag />
  </div>
  <p
    class="font-serif font-bold text-sm tracking-wide leading-loose mx-auto w-fit"
    >Made in <span class="uppercase">Hawai'i</span></p
  >
  <p
    class="font-serif italic text-xs tracking-wide leading-normal mx-auto w-fit"
    >like <a href="https://www.hawaiiansunproducts.com/">Hawaiian Sun</a> and <a
      href="https://www.konacoffeeandtea.com/">Kona Coffee</a
    ></p
  >
</div>
